<h1><%= t('Listing tasks') %></h1>

<table>
  <thead>
    <tr>
      <th><%= t('Title') %></th>
<!--      <th>Description</th> -->
      <th><%= t('Duration') %></th>
      <th><%= t('Start') %></th>
      <th><%= t('End') %></th>
      <th><%= t('Member') %></th>
      <th><%= t('Check') %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.title %></td>
        <td><%= task.duration %></td>
        <td><%= task.start %></td>
        <td><%= task.end %></td>
        <td><%= task.member.name %></td>
        <td><%= task.check %></td>
        <td><%= link_to t('Show'), task %></td>
        <td><%= link_to t('Edit'), edit_task_path(task) %></td>
        <td><%= link_to t('Destroy'), task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<%= link_to t('New Task'), new_task_path %>
