<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <nav class="top-bar" data-topbar role="navigation">
      <ul class="title-area">
        <li class="name">
          <h1><a href="#">Trello</a></h1>
        </li>
         <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
      </ul>
    
      <section class="top-bar-section">
        <!-- Right Nav Section -->
        
       
        <ul class="right">
          
          <% if member_signed_in? %>
          
          <li class="active">
            <%= link_to current_member.email, edit_member_registration_path %>
          </li>
          
          <li>
            <%= link_to 'Log Out', destroy_member_session_path, method: :delete %>
          </li>
          
          <% else %>
          
           <li class="active">
            <%= link_to 'Sing Up', new_member_registration_path %>
          </li>
          
          <li>
            <%= link_to 'Sing In', new_member_session_path %>
          </li>
          
          
          <% end %>
          
        </ul>
        
       
        <!-- Left Nav Section -->
        <ul class="left">
          
         <% if member_signed_in? %>  
          
          <li>
            <%= link_to 'Members', members_path %>
          </li>
       
          <li>
            <%= link_to 'Tasks', tasks_path %>          
          </li>
          
          <% end %>
          
          
        </ul>
      </section>
    </nav>
    <div class="row">
      <div class="columns large-12">
        
         <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
       
        <%= yield %>
      </div>
    </div>
    <%= javascript_include_tag "application" %>
  </body>
</html>